*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 35px;
  height: auto;
  border-radius: 100%;
  margin-right: 5px;
}
/* sfondo ---------------*/
.fascia-verde{
  height: 20vh;
  background-color: darkgreen;
}
.fascia-grigia{
 height: 80vh;
 background-color: lightgrey;
}
/* container -----------------------------*/
.container{
  position: absolute;
  height: 90vh;
  width: 70%;
  display: flex;
  top: 5vh;
  left: 15%;
}

/* sez-sx ----------------------------*/
.sez-sx{
 width: 30%;
 display: flex;
 flex-direction: column;
}

.notifiche{
 height: 50px;
 background-color: lightblue;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 padding: 0 15px;
}
.fa-bell{
  margin-right: 5px;
  background-color: white;
  padding: 5px;
  border-radius: 100%;s
}
.cerca-contatti{
  height: 30px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input-contatti{
 width: 80%;
 height: 90%;
}

.container-contatti{
  height: calc(100% - 130px);
  overflow: auto;
  background-color: white;
}
.contatto{
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
.contatto:hover{
  cursor: pointer;
}
.contatto-attivo-bg{
  background-color: grey;
}
/* sez-dx ------------------------------------*/
.sez-dx{
 width: 70%;
 display: flex;
 flex-direction: column;
}

.fascia-superiore{
 height: 50px;
 display: flex;
 padding: 0 15px;
 justify-content: space-between;
 align-items: center;
 background-color: lightgrey;
}

.fascia-sup-utente{
  display: flex;
  align-items: center;
}
.display-messaggi{
 height: calc(100% - 100px);
 overflow: auto;
 background-image: url("immagini/sfondo.jpg");
 background-size: cover;
 padding: 20px;
 display: none;
}
.active{
  display: block;
}


.messaggio-ricevuto{
 height: auto;
 max-width: 200px;
 background-color: white;
 margin-top: 5px;
 margin-bottom: 5px;
 padding: 5px;
 text-align: center;
}


.messaggio-inviato{
  height: auto;
  max-width: 200px;
  background-color: lime;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: calc(100% - 205px);
  padding: 5px;
  text-align: center;
}
.ora{
  font-size: 10px;
  margin-left:
}


.input-messaggi{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(250, 255, 237);
}
.input-msg-txt{
  width: 80%;
  height: 80%;
}
.input-msg-txt:focus{
  width: 80%;
  height: 80%;
  margin-left: 20px;
}
.fa-paper-plane:hover{
  cursor: pointer;
}
.plane{
  display: none;
  margin-left: 20px;
  padding: 5px;
}
.fa-smile{
  margin-left: 20px;
}
/* messaggi e menu tendina-----------------------*/
.freccina{
  display: none;
}

.messaggio-inviato:hover .freccina{
  display: inline-block;
  cursor: pointer;
}
.messaggio-ricevuto:hover .freccina{
  display: inline-block;
  cursor: pointer;
}
.menu-tendina{
  display: none;
  background-color: white;
}
.menu-tendina:hover{
  cursor: pointer;
}
